@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@600&display=swap');
@import "normalise";

$grey: #85887E;
$purple: #663F68;
$red: #FF3131;
$pink: #F45A5F;
$black: #1F0F20;

$break-phone: 768px;

body {
    background-color: $black;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

.main-flex {
    display: flex;
    flex-direction: column;
    // align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100vh;
    margin-bottom: 50px;
}

.recycling-header {
    border-radius: 50% 50% 54% 46% / 76% 47% 53% 24%;
    width: 500px;
    height: 500px;
    @media only screen and (max-width: $break-phone) {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }
    @media only screen and (min-width: $break-phone) {
        position: absolute;
        right: 0;
        top: 0;
    }
    background: linear-gradient(24deg, rgba(244,90,95,1) 0%, rgba(249,148,189,1) 100%);
    color: $purple;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    z-index: 1;
}

.divider {
    clip-path: polygon(0 0, 15% 0, 100% 100%, 85% 100%);
    @media only screen and (max-width: $break-phone) {display: none;}
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("images/trash.jpg");
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.header-question {
    color: white;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    @media only screen and (min-width: $break-phone) {
        position: absolute;
        left: 50px;
        bottom: 100px;
    }
}

.header-divider {
    position: relative;
    top: -30px;
}

.fact {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    color: $grey;
}

.bold {
    font-weight: bold;
    color: $red;
}

.fact-info {
    width: 40%;
}
.fact-info.left {
    text-align: right;
}
.fact-info.right {
    text-align: left;
}

.hide-counter {
    background-color: $red;
}
@keyframes show-counter-anim {
    from {
        background-color: $red;
    }
    to {
        background-color: transparent;
    }
}
.show-counter {
    animation: show-counter-anim 0.5s;
}

#map { height: 180px; }

body {
    // those styles are irrelevant, just here for nicer presentation
    display: flex;
    flex-direction: column;
  
    #yew {
      height: 400px;
      width: 800px;
      margin: 2em auto;
    }
  
    .map {
      height: 400px;
    }
  
    .component-container {
      border-radius: 0.5em;
      padding: 1em;
    }
  
    .map-container {
    
      border: 1px solid red;
      margin-bottom: 1em;
      margin-top: 1em;
    }
  
    .control {
      text-align: center;
      border: 1px solid green;
  
      button {
        margin: 0.5em;
      }
    }
  }
  